// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Staatliches', cursive;

@mixin basikText {
  font-family: $default-font;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
  color: $black;
}

