
//Transition
$transition: all .5s linear 0s;

//---Shadows

//---Borders

//----colors
$black: #000;
$white: #fff;
$blue: #36299a;
$orange: #f88341;
$bg-color: #fcf2f0;
$grey: #898989;
$dark-grey-color: #a1a1a1;
$ligh-grey-color: #b7b7b7;
$border-grey: #d7d7d7;
$bg-slider: #e5c2bb;
$form-border: 1px solid #e1e1e1;


//---Vars
$default-font: 'Poppins', sans-serif;
